<mat-nav-list>
  <a
    *ngIf="isEndUser || !isAuthenticated"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/reports"
    >Prijave</a
  >
  <a
    *ngIf="isAuthenticated && isEndUser"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/add-report"
    >Dodaj prijavu</a
  >
  <a
    *ngIf="isEndUser || !isAuthenticated"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/contact-us"
    >Kontaktirajte nas</a
  >

  <a
    *ngIf="isAuthenticated && isAdmin"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/admin/department-officers"
  >
    <mat-icon color="primary">manage_accounts</mat-icon>
    Službenici odjeljenja</a
  >
  <a
    *ngIf="isAuthenticated && isAdmin"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/admin/parts-of-the-city"
  >
    <mat-icon color="primary">location_city</mat-icon>
    Naselja</a
  >
  <a
    *ngIf="isAuthenticated && isAdmin"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/admin/streets"
  >
    <mat-icon color="primary">edit_road</mat-icon>
    Ulice</a
  >
  <a
    *ngIf="isAuthenticated && isAdmin"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/admin/messages"
  >
    <mat-icon color="primary">email</mat-icon>
    Poruke</a
  >
</mat-nav-list>
