<mat-nav-list>
  <a
    *ngIf="isEndUser || !isAuthenticated"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/reports"
  >
    <mat-icon color="primary">description</mat-icon>
    Prijave</a
  >
  <a
    *ngIf="isAuthenticated && isEndUser"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/add-report"
  >
    <mat-icon color="primary">post_add</mat-icon>
    Dodaj prijavu</a
  >
  <a
    *ngIf="isEndUser || !isAuthenticated"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/contact-us"
  >
    <mat-icon color="primary">forward_to_inbox</mat-icon>
    Kontaktirajte nas</a
  >

  <a
    *ngIf="isAuthenticated && isAdmin"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/admin/department-officers"
  >
    <mat-icon color="primary">manage_accounts</mat-icon>
    Službenici odjeljenja</a
  >

  <a
    *ngIf="isAuthenticated && isAdmin"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/admin/messages"
  >
    <mat-icon color="primary">email</mat-icon>
    Poruke</a
  >

  <a
    *ngIf="isAuthenticated && isDepartmentOfficer"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/management/manage-reports"
  >
    <mat-icon color="primary">description</mat-icon>
    Prijave</a
  >
</mat-nav-list>
