<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px">
  <h1 class="header">Službenici odjeljenja</h1>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="20px"
    class="actions-container"
  >
    <mat-form-field class="search-container">
      <mat-label>Pretraži</mat-label>
      <mat-icon matPrefix class="icon" color="primary">search</mat-icon>
      <input
        (input)="filterDepartmentOfficers(searchInput.value)"
        #searchInput
        matInput
        placeholder="Pretraži službenike odjeljenja"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addDepartmentOfficer()">
      Dodaj
    </button>
  </div>
  <div class="table-container">
    <mat-table [dataSource]="dataSource" class="table">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Ime</mat-header-cell>
        <mat-cell *matCellDef="let row"
          ><span class="ellipsis"
            >{{ row.firstName }} {{ row.lastName }}</span
          ></mat-cell
        >
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>E-mail</mat-header-cell>
        <mat-cell *matCellDef="let row"
          ><span class="ellipsis">{{ row.email }}</span></mat-cell
        >
      </ng-container>

      <!-- Department Column -->
      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef>Nadležno odjeljenje</mat-header-cell>
        <mat-cell *matCellDef="let row"
          ><span class="ellipsis">{{ row.department }}</span></mat-cell
        >
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div
            fxLayout="row"
            fxLayoutAlign="space-around center"
            fxLayoutGap="20px"
          >
            <button
              mat-mini-fab
              color="primary"
              (click)="editDepartmentOfficer(row)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="openConfirmDialog(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
