<h1 mat-dialog-title>
  {{ data.action === "ADD" ? "Dodaj ulicu" : "Izmijeni ulicu" }}
</h1>
<form [formGroup]="form">
  <div mat-dialog-content fxLayout="column">
    <mat-form-field>
      <mat-label>Naziv</mat-label>
      <input
        matInput
        placeholder="Unesite naziv ulice"
        [ngModel]="data.street?.name"
        required
        formControlName="name"
        autocomplete="off"
      />
      <mat-error>Naziv je obavezan.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Naselje</mat-label>
      <mat-select
        formControlName="partOfTheCity"
        required
        [ngModel]="data.street?.partOfTheCity"
        [compareWith]="comparePartOfTheCity"
      >
        <mat-option
          *ngFor="let partOfTheCity of data.partsOfTheCity"
          [value]="partOfTheCity.name"
        >
          {{ partOfTheCity.name }}
        </mat-option>
      </mat-select>
      <mat-error>Naselje je obavezno.</mat-error>
    </mat-form-field>
  </div>
  <div
    mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="20px"
  >
    <button mat-button color="primary" (click)="close()">Odustani</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      type="submit"
      (click)="save()"
    >
      Sacuvaj
    </button>
  </div>
</form>
