<div fxLayoutAlign="center start">
  <div fxFlex.xs="100%" fxFlex.sm="75%" fxFlex="50">
    <div fxLayoutAlign="center start" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <form
      #loginForm="ngForm"
      (ngSubmit)="onSubmit(loginForm)"
      *ngIf="!isLoading"
    >
      <mat-card>
        <div fxLayoutAlign="center start">
          <mat-card-title>Prijavite se</mat-card-title>
        </div>
        <mat-error class="error-popup" *ngIf="error">
          {{ error }}
        </mat-error>
        <mat-card-content>
          <div class="input-container">
            <mat-form-field fxFlex="0 0 100%" appearance="fill">
              <mat-label>Korisničko ime</mat-label>
              <input matInput ngModel name="username" required minlength="6" />
              <mat-error>
                Korisničko ime mora imati najmanje 6 karaktera.
              </mat-error>
            </mat-form-field>
          </div>
          <div clsas="input-container">
            <mat-form-field fxFlex="0 0 100%" appearance="fill">
              <mat-label>Lozinka</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                required
                ngModel
                name="password"
                minlength="6"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error> Lozinka mora imati najmanje 6 karaktera. </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="registerSuccessMessage" class="registered">
            <p>{{ registerSuccessMessage }}</p>
          </div>
          <div fxLayoutAlign="center start">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!loginForm.valid"
            >
              Prijavi se
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
