mat-divider {
  margin: 10px 0;
  width: 100%;
}

.info {
  padding: 10px;
  height: 100%;
}

img {
  padding-top: 15px;
}

mat-icon {
  margin-right: 10px;
}

.info span {
  text-transform: uppercase;
}

.container {
  height: 98%;
}

.report-header {
  margin-bottom: 20px !important;
}

.id {
  font-size: 32px;
}

mat-icon {
  margin-right: 10px;
}

img {
  max-width: 100%;
}

.label {
  font-weight: 500;
  margin-right: 10px;
}

.label::after {
  content: ":";
}

.step-1,
.modify-form,
.final-step {
  height: 100%;
}

.completed-info {
  width: 59%;
}
