mat-divider,
.divider {
  width: 100%;
  margin: 20px 0;
}

.info {
  padding: 10px 0;
}

.info p {
  margin-top: 10px;
}

img {
  padding-top: 15px;
}

mat-icon {
  margin-right: 10px;
}

.info span {
  text-transform: uppercase;
}

.container {
  height: 98%;
}

.report-header {
  margin-bottom: 20px !important;
}

.title {
  font-size: 24px;
}

mat-icon {
  margin-right: 10px;
}

.report-img {
  margin: 0 auto;
}

img {
  height: 300px;
  width: 400px;
  padding: 20px;
}

.status-lbl {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bdbdbd;
}

.label {
  font-weight: 500;
  margin-right: 10px;
}

.status-lbl::after,
.label::after {
  content: ":";
}

.step-1,
.modify-form,
.final-step {
  height: 100%;
}

.completed-info {
  width: 59%;
}

.map-container {
  height: 300px;
  width: 400px;
}

agm-map {
  height: 100%;
}

.breadcrumb-active,
.breadcrumb-inactive,
.breadcrumb-separator {
  font-size: 18px;
  line-height: 24px;
}

.breadcrumb-inactive {
  color: #3f51b5;
  cursor: pointer;
}

.breadcrumb-separator,
.breadcrumb-active {
  color: #4f4f4f;
}
