<div
  fxLayout="column"
  fxLayoutAlign="start start"
  fxLayoutGap="15px"
  class="container"
>
  <h1 class="header">Ulice</h1>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
    <button mat-raised-button color="primary" (click)="addStreet()">
      Dodaj
    </button>
    <mat-form-field class="search-container">
      <mat-label>Pretraži</mat-label>
      <mat-icon matPrefix class="icon" color="primary">search</mat-icon>
      <input
        (input)="searchByName(searchInput.value)"
        #searchInput
        matInput
        placeholder="Pretraži po nazivu ulice"
      />
    </mat-form-field>
    <mat-form-field class="part-of-the-city-container">
      <mat-label>Naselje</mat-label>
      <mat-select (selectionChange)="setPartOfTheCity($event)">
        <mat-option value=""></mat-option>
        <mat-option
          *ngFor="let partOfTheCity of partsOfTheCity"
          [value]="partOfTheCity.name"
        >
          {{ partOfTheCity.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="table-container">
    <mat-table
      [dataSource]="dataSource"
      class="table"
      matSort
      matSortActive="name"
      (matSortChange)="resetPaging()"
    >
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Naziv</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
      </ng-container>

      <!-- PartOfTheCity Column -->
      <ng-container matColumnDef="partOfTheCity">
        <mat-header-cell *matHeaderCellDef>Naselje</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.partOfTheCity }}</mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div
            fxLayout="row"
            fxLayoutAlign="space-around center"
            fxLayoutGap="20px"
          >
            <button mat-mini-fab color="primary" (click)="editStreet(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="openConfirmDialog(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>

  <mat-paginator
    [length]="totalElements"
    [pageSizeOptions]="pageSizeOptions"
    fxFlexAlign="end"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
