.container {
  height: 98%;
}

.id {
  font-size: 32px;
}

mat-icon {
  margin-right: 10px;
}

img {
  max-width: 100%;
}

.label {
  font-weight: 500;
  margin-right: 10px;
}

.label::after {
  content: ":";
}

.step-1,
.modify-form,
.final-step,
.completed-report {
  height: 100%;
}

.completed-info {
  width: 59%;
}

.map-container {
  height: 300px;
  /* width: 400px; */
}

agm-map {
  height: 100%;
}

.status-lbl {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bdbdbd;
}

.breadcrumb-active,
.breadcrumb-inactive,
.breadcrumb-separator {
  font-size: 18px;
  line-height: 24px;
}

.breadcrumb-inactive {
  color: #3f51b5;
  cursor: pointer;
}

.breadcrumb-separator,
.breadcrumb-active {
  color: #4f4f4f;
}
